[submodule "external/libxsmm-dnn"]
	path = external/libxsmm-dnn
	url = https://github.com/libxsmm/libxsmm-dnn.git
[submodule "external/iree"]
	path = external/iree
	url = https://github.com/iree-org/iree.git
	branch = main
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
